

.swiper {
    width: 100%;
    height: 100%;
}


 .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
    right: 30px;
 }


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

}

.swiper-slide img {

}